/* ------------ Start Search Page */

.header-cover {
    content: "";
    background-color: #f7858d;
    background-image: url(../img/svg/701f8a6b.svg);
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    height: 275px;
    z-index: -1;
}

.promotion-header-img {
    width: 100%;
    background: url(../img/theme/amazing.svg) 50% no-repeat;
    background-size: contain;
    height: 120px;
}

.search-amazing-tab .ah-tab-item {
    padding: 5px 8px;
    border-radius: 10px;
    border-bottom: 0;
    margin: 0 10px;
    font-size: 13px;
}

.search-amazing-tab .ah-tab-item:first-child {
    margin-right: 40px;
}

.search-amazing-tab .ah-tab-item:hover {
    border: 0;
}

.search-amazing-tab .ah-tab>.ah-tab-item[data-ah-tab-active="true"] {
    background-color: #f7858d;
    color: #fff;
    padding: 5px 8px;
    border-radius: 10px;
    border-bottom: 0;
}

/* End Search Page------------ */